@import '../node_modules/bulma/sass/utilities/derived-variables.scss';

/* sass 特有寫法"參數"使用$符號表是 */
$barbie-pink:#E0218A;

.card {
  .card-image {
    img {
      border: 1px solid red;
    }
  }

  .card-content {
    // background-color: $barbie-pink;  //自定義的css參數
    background-color: $primary;         //bulma的css參數
    h3 {
      color: blue;
    }
    p {
      font-weight: bold;
    }
  }
}
